<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        <table>
            {% for form in formset %}
                <tr>
                    <td>{{ form.name.label_tag }}</td>
                    <td>{{ form.name }}</td>
                    <td>{{ form.quantity.label_tag }}</td>
                    <td>{{ form.quantity }}</td>
                    <td>{{ form.DELETE.label_tag }} {{ form.DELETE }}</td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit">Submit</button>
    </form>
</body>
</html>